<h1>About Notes</h1>

<p>This was my second time building a basic CRUD Rails app! 
It was fun to learn how to implement Bootstrap components and style to a Rails app.</p>

<p>The requirements were: </p>
<ul>
  <li>Create a new rails application to keep track of post it notes</li>
  <li>Create a model for a Note</li>
  <li>Implement all of the CRUD actions for a Note</li>
  <li>Create all of the views for a note</li>
  <li>Create a navbar that appears on every page</li>
  <li>Create a homepage</li>
  <li>Bonus: create a partial for the new and edit views</li>
</ul>
