<div id='note'>

<div id='title'>
<%= @note.title %>
</div>

<!--<div id='author'>
<%= @note.author  %>
</div>-->

<div id='body'>
<%= @note.body %>
</div>

</div>


<%= link_to 'Back', notes_path %>
