// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family : Helvetica;


}

// main notes page (note list)
#noteslist {
  width: 420px;
}

#notename {
  font-size: 22px;
  
}

#noteslist a {

}
// show note page
#note {
  width: 420px;
  height: 220px;
  background-color: lightblue;
  border: 1px solid grey;
  padding: 10px;
}

#note #title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#note #body {
  text-align: center;
  margin-top: 20px;
}

// new note form style
.new_note {
  width: 420px;
  height: 220px;
  background-color: lightblue;
  border: 1px solid grey;
  padding: 10px;
}


.new_note label {
  font-weight: bold;
  color: blueviolet;
  margin: 5px;
}

.new_note input {
  padding: 5px;
  border-radius: 5px;
}

.new_note #note_body {
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  width: 320px;
  height: 100px;
  
}

.new_note #submit {
  padding: 5px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  margin: 20px;
  margin-left: 150px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  
}


// edit note
.edit_note {
  width: 420px;
  height: 220px;
  background-color: lightblue;
  border: 1px solid grey;
  padding: 10px;
}


.edit_note label {
  font-weight: bold;
  color: blueviolet;
  margin: 5px;
}

.edit_note input {
  padding: 5px;
  border-radius: 5px;
}

.edit_note #note_body {
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  width: 320px;
  height: 100px;
  
}

.edit_note #submit {
  padding: 5px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  margin: 20px;
  margin-left: 150px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  
}
